<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()" >
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" name="day" id="text" [(ngModel)]="day" placeholder="Add Day & Time">
    </div>
    <div class="form-control form-control-check">
        <label for="day">Set reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder" placeholder="checkbox">
    </div>
    <input type="submit" value="Save Tssk" class="btn btn-block">

</form>
